img{
  width: 70px;
  height: 70px;
}
a{
  border-radius: 50px;
}
.link{
  border-radius: 50px;
  background-color: #00acee;
  padding:10px;
  text-decoration: none;
  color:white;
}
.search{
  border-radius: 50px;
}
.trendes{
  background-color: gainsboro;
  border-radius: 18px;
}
.image img{
  width: 550px;
  height: 250px;
}
.fotter{
background-color: #00acee;
margin-bottom: 0px;
margin-top: 250px;
position: relative;
}
#twitter{
  text-align: center;
  color:white;
}
.label{
  font: bold;
}